# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\docker\_Folders\notebooks\DynamicGamesSpatioTemporal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#pycharm
.idea

#Jupyter
.ipynb_checkpoints

__pycache__