# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\docker\_Folders\notebooks\DynamicGamesSpatioTemporal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

sinusoidal_simulation_frames.pkl

#pycharm
.idea
__pycache__